body {
    width: 330px;
}
.error {
    color: #933;
}
.warning {
    color: #388;
}
#banner {
    display: none;
    font: 300 14px 'Arial';
    width: 310px;
    padding-bottom: 10px;
}
.last-change {
    font: 300 12px 'Arial';
    padding-bottom: 6px;
}
.link a {
    font: 300 12px 'Arial';
    color: #666;
}
#banner.show {
    display: block;
}
.hide {
    display: none;
}
.clr {
    clear: both;
}
.p-bottom-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}